*{
    margin: 0px;
    padding: 0px;
}
#logo{
    height: 250px;

}

body{
    background-image: url("../images/starsBG.jpg");
    background-repeat:repeat;
}

#events{
    display: flex;
    flex-wrap: none;
    background-color: #7f7f7f;
    color: #7f7f7f;
    padding: 20px;

}

select{
    background-color: #999999;
    color: #7f7f7f;
    height: 2em;
}

label{
    color: #999;
}

select:hover{
    background-color: #999;
    color: #999;

}

#questions{
    list-style: none;

}

li{
    background-color: #7f7f7f;
    color: #999;
}

.red{
    color: red;
}

.affirmation{
    margin: 20px;
    padding: 20px;
}
#encouragements{
    display: flex;
    list-style: none;
    width: 250px;
    
}

.gotcha{
    background-color: orange;
    color: white;
    padding: 5px 10px;
    border-top: yellow solid 2px;
    border-left: yellow solid 2px;
    border-right: brown solid 2px;
    border-bottom: brown solid 2px;
}

#top-stuff{
    display: flex;
    color: orange;
    align-items: end;
    margin: 5px;
}