*{
    background: #000;
    color: white;
}

#logo{
    width: 250px;
}

#events{
    display: flex;
    flex-wrap: none;
    background-color: #7f7f7f;
    color: #7f7f7f;
    padding: 20px;

}

select{
    background-color: #999999;
    color: #7f7f7f;
    height: 2em;
}

label{
    background-color: #7f7f7f;
    color: #999;
}

ul{
    list-style: none;
    background-color: #7f7f7f;
    color: #999;
}

li{
    background-color: #7f7f7f;
    color: #999;
}

.red{
    color: red;
}

.gotcha{
    background-color: orange;
    color: white;
    padding: 5px 10px;
    border-top: yellow solid 2px;
    border-left: yellow solid 2px;
    border-right: brown solid 2px;
    border-bottom: brown solid 2px;
}

